@import url("main.css");

*{
    -title-font-size:23;
    -title-line-height: 34.5;
    -paragraph-font-size: 15;

}


/* View Supervisor */
.createBtn{
    -fx-background-color:#558C8A;
    -fx-text-fill:#ffffff;
}

.createBtn:hover{
    -fx-opacity:0.9;
    -fx-text-fill:#EFBF04;
}

.managerAccSupervisorCtn{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color:#ebeef2;

}

.managerAccSupervisorCtn:hover{
    -fx-opacity: 0.8;
}

.managerAccSupervisorCtn-Inactive{
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-background-color: #ebeef4;
  -fx-opacity: 0.5;
}

.imgRounded{
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.managerAccSupervisorName{
    -fx-text-fill: #000000;
    -fx-font-size: 15;
    -fx-font-weight:normal;
}

.managerAccSupervisor{
     -fx-text-fill: #000000;
     -fx-font-size: 12;
     -fx-opacity: 0.7;
     -fx-font-weight: normal;
}

.managerAccSpProjectType{
     -fx-text-fill: #000000;
     -fx-font-size: 10;
     -fx-opacity: 0.8;
}

.managerAccSpProgressCtn{
     -fx-pref-width: 50;
     -fx-pref-height: 10;
}


.managerAccSpProgressBar{
     -fx-pref-width: 37;
     -fx-pref-height: 5;
     -fx-accent: #558C8A;


}
.managerAccSpProgressPercentTxt{
    -fx-font-size: 12;
}

.managerAccSpBtn{
    -fx-pref-width: 50;
    -fx-pref-height: 15;
    -fx-font-size: 10;
    -fx-opacity:0.5;
    -fx-text-fill:#000000;

}

.managerAccSpBtnView{
    -fx-pref-width:100;
    -fx-background-color: #11C04C;
    -fx-opacity:0.5;
    -fx-text-fill: #dedede;
    -fx-background-radius: 5;
    -fx-padding:5 10 5 10;


}

.managerAccSpBtnView:hover{
    -fx-opacity:0.8;
    -fx-text-fill: #ffffff;


}
.managerAccSpBtnDel{
    -fx-pref-width:100;
    -fx-background-color: #C01111;
    -fx-opacity:0.5;
    -fx-text-fill: #dedede;
    -fx-background-radius: 5;
    -fx-padding:5 10 5 10;
}


.managerAccSpBtnDel:hover{
    -fx-background-color: #C01111;
    -fx-opacity:0.8;
    -fx-text-fill: #EFBF04;


}

/* Personal Information  */
.managerAccSpSubLabel{
    -fx-font-size: -title-font-size;
}


/* Create Supervisor */

.promtTxt{
    -fx-font-size: 15;
}

.datePicker{
    -fx-font-size: 12;
}

.inputFields{
    -fx-font-size: -paragraph-font-size;
    -fx-border-width: .3;
    -fx-border-color:#558C8A;
    -fx-border-radius: 5;
}

.firstName{
    -fx-pref-width: 500;
    -fx-text-fill:#000000;
    -fx-padding: 2 10 2 10;
    -fx-font-size: -paragraph-font-size;


}
.email{
     -fx-pref-width: 500;
     -fx-text-fill:#000000;
     -fx-padding: 2 10 2 10;
     -fx-font-size: -paragraph-font-size;

}


.roleAndProjectCombo{
     -fx-padding: 3 10 3 10;
}

.date{
    -fx-pref-width:10;
}

 /* :: Add Btn */
.addSupervisorBtn{
   -fx-background-color:#558C8A;
   -fx-padding: 3 10 3 10;
}

