@import url("main.css");

#root{
    -fx-background-color: -primary-bg-color;
}
.tapBar {
    -fx-background-color: -secondary-bg-color;
    -fx-border-color: -border-color;
    -fx-border-width: 0 0 1 0;
}
